.main {
  background-color: #e0e2db;
  padding: 0 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.left {
  display: flex;
}

.left img {
  width: 250px;
  height: 80px;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.right ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: 1.2rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.burger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  display: none;
}
.burger img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.mobileNavMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 27, 16, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  padding-top: 60px;
  box-sizing: border-box;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.mobileNavMenuOpen {
  transform: translateX(0);
}

.mobileNavMenu nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}
.mobileNavMenu nav ul li a:hover {
  color: #898d91;
}

.mobileButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.logout {
  background-color: #b8bdb5;
  border: 1px solid #d2d4c8;
  font-size: 1.2rem;
  padding: 0.6rem 1rem;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.logout:hover {
  background-color: #aaaaaa;
}

@media (max-width: 900px) {
  .burger {
    display: block;
  }
  .right {
    display: none;
  }
}
